# Lab 02 - Bài tập

## THÔNG TIN SINH VIÊN

- Họ tên: Nguyễn Phan Minh Mẫn
- MSV: 22679171


Sinh viên ghi số bài làm được vào ô dưới đây:

## KẾT QUẢ: .../20 bài

---

In [31]:
# Run this cell first to import the libraries we will use
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

## PANDAS

Bạn hãy tạo một DataFrame có tên `df_sales` chứa thông tin các sản phẩm:

In [32]:
sales_data = {
    'product_id': ['P001', 'P002', 'P003', 'P004', 'P005', 'P006', 'P007', 'P008'],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Tablet', 'Phone', 'Headphones', 'Webcam'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics', 'Electronics', 'Accessories', 'Accessories'],
    'price': [999, 25, 75, 299, 499, 699, 129, 89],
    'units_sold': [15, 120, 85, 35, 28, 45, 67, 23],
    'supplier': ['TechCorp', 'AccessCo', 'AccessCo', 'TechCorp', 'MobileTech', 'MobileTech', 'AudioTech', 'CameraCo']
}

df_sales = pd.DataFrame(sales_data)

### 1. Hiểu dữ liệu

a. Kích thước của dữ liệu?

b. Tên các cột?

c. Hiển thị 3 dòng đầu tiên và 3 dòng cuối cùng

d. Thống kê mô tả các biến định lượng

In [33]:
# YOUR CODE HERE
#a.
print("Kich thuoc cua du lieu: ")
df_sales.dtypes
#b.
print("\nKich thuoc cua du lieu: ")
df_sales.info()
#c.
print("\n3 dong dau tien cua data: ")
df_sales.head(5)
print("3 dong cuoi cua data")
df_sales.tail(5)
#d.
print("Thong ke mo ta cac bien dinh luong")
df_sales.describe(include='int64')

Kich thuoc cua du lieu:

Kich thuoc cua du lieu:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    8 non-null      object
 1   product_name  8 non-null      object
 2   category      8 non-null      object
 3   price         8 non-null      int64
 4   units_sold    8 non-null      int64
 5   supplier      8 non-null      object
dtypes: int64(2), object(4)
memory usage: 512.0+ bytes

3 dong dau tien cua data:
3 dong cuoi cua data
Thong ke mo ta cac bien dinh luong

           price  units_sold
count    8.00000    8.000000
mean   351.75000   52.250000
std    351.72869   35.979161
min     25.00000   15.000000
25%     85.50000   26.750000
50%    214.00000   40.000000
75%    549.00000   71.500000
max    999.00000  120.000000

### 2. Lọc dữ liệu

a. Lọc các cột sau: 'product_name', 'price', and 'units_sold'

b. Lọc các sản phẩm có giá trên 100

c. Tìm các sản phẩm điện tử ('Electronics') với số lượng bán trên 30

d. Tìm những sản phẩm phụ kiện (`Accessories`) có giá từ 50 đến 100

In [ ]:
# YOUR CODE HERE
#a/
#Lay ra all inf
df_sales.head()
# Loc cot: product_name, price, units_sold
print("Mutiple column [product_name, price, units_sold]")
df_sales[['product_name', 'price', 'units_sold']].head()
#b/
print("Loc cac san pham có gia tren 100:")
product_name = df_sales[df_sales['price'] > 100]
print(f"Cac san pham gia tren 100: {len(product_name)}")
product_name[['product_name', 'price', 'units_sold']]
#c/

Mutiple column [product_name, price, units_sold]
Loc cac san pham có gia tren 100:
Cac san pham gia tren 100: 5

  product_name  price  units_sold
0       Laptop    999          15
3      Monitor    299          35
4       Tablet    499          28
5        Phone    699          45
6   Headphones    129          67

### 3. Tạo cột mới

Tao thêm các cột sau:

a. Tạo cột doanh thu `revenue` = `price` * `units_sold`

b. Tạo cột `price_category` dựa trên giá của sản phẩm:
   - 'Low' nếu giá < 100
   - 'Medium' nếu 1000 <= giá <= 500
   - 'High' nếu giá > 500

c. Tạo cộ `high_performer`:  True if units_sold > median(units_sold)

In [5]:
# YOUR CODE HERE

### 4. Xử lý dữ liệu thiếu

Khởi tạo một DataFrame về dữ liệu khảo sát dưới đây và thực hiện các yêu cầu::

a. Hiển thị số lượng giá trị thiếu trong mỗi cột và phần trăm giá trị thiếu

b. Tạo một bản sao chứa dữ liệu đã loại bỏ các dòng có giá trị thiếu

c. Tạo một bản sao chứa các giá trị định lượng bị thiếu đã được thay thế bằng giá trị trung bình của cột đó

d. Tạo một bản sao chứa dữ liệu thiếu ở cột `city` được thay thế bằng giá trị phổ biến nhất (mode) của cột đó

In [6]:
# Create dataset with missing values
survey_data = {
    'respondent_id': range(1, 11),
    'age': [25, 30, None, 35, 28, None, 45, 32, 29, 38],
    'income': [50000, None, 45000, 60000, None, 55000, 75000, None, 48000, 62000],
    'satisfaction': [4, 5, 3, None, 4, 5, None, 3, 4, 5],
    'city': ['NYC', 'LA', 'Chicago', None, 'NYC', 'LA', 'Chicago', 'NYC', None, 'LA']
}

df_survey = pd.DataFrame(survey_data)

In [7]:
# YOUR CODE HERE

### 5. Gom nhóm và tổng hợp

Sử dụng DataFrame `df_sales` đã tạo ở trên và thực hiện các yêu cầu:

a. Tính giá trung bình và tổng doanh thu theo từng loại sản phẩm (`category`)

b. Đếm số sản phẩm theo từng nhà cung cấp (`supplier`)

c. Tính min, max, mean và độ lệch chuẩn về giá theo từng loại sản phẩm (`category`)

d. Tính miền giá trị (range) về số lượng sản phẩm đã bán (`units_sold) theo từng nhà cung cấp (`supplier`)

In [8]:
# YOUR CODE HERE

---

## STATISTICAL ANALYSIS

### 6. Xu hướng tập trung

Cho 4 datasets sau, với mỗi dataset bạn hãy lựa chọn độ đo thích hợp để mô tả xu hướng tập trung của dữ liệu và giải thích lý do:

In [9]:
# Create sample datasets for different scenarios
dataset1 = [85, 87, 90, 92, 95, 88, 91, 89, 86, 93]  # Symmetric
dataset2 = [25000, 28000, 30000, 32000, 150000, 29000, 31000, 27000, 33000, 26000]  # Right-skewed
dataset3 = [1.05, 0.98, 1.12, 0.95, 1.08, 1.03, 0.92, 1.15, 1.07, 0.99]  # Growth factors
dataset4 = ['Red', 'Blue', 'Blue', 'Green', 'Blue', 'Red', 'Yellow', 'Blue', 'Green', 'Blue']  # Categorical

print("TASK: For each dataset, calculate appropriate measures of central tendency and explain your choice:")
print("Dataset 1 (Test scores):", dataset1)
print("Dataset 2 (Salaries):", dataset2) 
print("Dataset 3 (Growth rates):", dataset3)
print("Dataset 4 (Colors):", dataset4)

TASK: For each dataset, calculate appropriate measures of central tendency and explain your choice:
Dataset 1 (Test scores): [85, 87, 90, 92, 95, 88, 91, 89, 86, 93]
Dataset 2 (Salaries): [25000, 28000, 30000, 32000, 150000, 29000, 31000, 27000, 33000, 26000]
Dataset 3 (Growth rates): [1.05, 0.98, 1.12, 0.95, 1.08, 1.03, 0.92, 1.15, 1.07, 0.99]
Dataset 4 (Colors): ['Red', 'Blue', 'Blue', 'Green', 'Blue', 'Red', 'Yellow', 'Blue', 'Green', 'Blue']

**YOUR ANSWER HERE**

In [10]:
# YOUR CODE HERE

### 7. Độ đo phân tán

Cho một bộ dữ liệu mẫu `sample_data`, bạn hãy thực hiện:

a. Tính phương sai tổng thể (giả sử như sample_data là toàn bộ tổng thể)
b. Tính phương sai mẫu (giả sử như sample_data là một mẫu từ tổng thể lớn hơn)
c. Giải thích sự khác biệt giữa phương sai tổng thể và phương sai mẫu. Giải thích khái niệm bậc tự do (degrees of freedom) trong tính toán phương sai mẫu.
d. Tính các đại lượng: miền giá trị (range), miền phân vị (IQR) và hệ số biến thiên (coefficient of variation - CV) . Bạn hãy trình bày ý nghĩa của mỗi đại lượng.

In [11]:
sample_data = [12, 15, 18, 21, 24, 27, 30]

**YOUR ANSWER HERE**

In [12]:
# YOUR CODE HERE

### 8. Thống kê

Chạy câu lệnh bên dưới để sinh dữ liệu `exam_scores` gồm 50 điểm thi của sinh viên trong một kỳ thi. Thực hiện các yêu cầu:

a. Tính các đại lượng thống kê cơ bản của mỗi môn học
b. Với mỗi môn học, xác định độ đo phù hợp để mô tả xu hướng tập trung và độ đo phân tán của điểm thi. Giải thích lý do.
c. Tạo một bảng thống kê tóm tắt (summary table) cho mỗi môn học, bao gồm các đại lượng thống kê đã tính ở trên.

In [13]:
# Load a real dataset for comprehensive analysis
exam_scores = pd.DataFrame({
    'student_id': range(1, 51),
    'math_score': np.random.normal(75, 12, 50).astype(int),
    'english_score': np.random.normal(80, 10, 50).astype(int),
    'science_score': np.random.normal(78, 15, 50).astype(int),
    'total_score': lambda x: x.math_score + x.english_score + x.science_score
})

In [14]:
# YOUR CODE HERE

---

## SEABORN

### 9. `tips` dataset

Sử dụng dataset `tips` từ seaborn, bạn hãy thực hiện:

a. Khám phá cấu trúc của dataset và xử lý giá trị thiếu (nếu có)

b. Tính các đại lượng thống kê cơ bản cho tất cả các biến

c. So sánh tiền tip trung bình giữa các nhóm khác nhau theo ngày, thời gian (day, time)

d. Phân tích mối quan hệ giữa tổng hóa đơn (total_bill) và tiền tip (tip)

e. Vẽ histogram của tiền tip

f. Vẽ box plot để so sánh tiền tip giữa các ngày trong tuần

In [15]:
# YOUR CODE HERE

### 10. A dataset of Seaborn

Chọn một dataset bất kỳ từ thư viện Seaborn (ngoài `tips` đã sử dụng ở trên) và thực hiện các bước sau:

a. Tìm hiểu thông tin về dataset đã chọn

b. Sử dụng kiến thức đã học để phân tích và trình bày các kết quả mà bạn khám phá được từ bộ dữ liệu trên

In [16]:
# YOUR CODE HERE


---

## CHANGELOG

- 20250831: new version
- ...

---